<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <!--<h2 routerLink='/support/fq' routerLinkActive="active">FQ</h2>-->
      <h2 routerLink='/market/categories/allCategory' routerLinkActive="active">{{'Category' | translate}}</h2>
      <h2 routerLink='/market/services/all-services' routerLinkActive="active">{{'Services' | translate}}</h2>
      <h2 routerLink='/market/ads/all-ads' routerLinkActive="active">{{'Ads' | translate}}</h2>
      <h2 routerLink='/market/topViews/allTopViews' routerLinkActive="active">{{'Top Views' | translate}}</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
