<h3 class="text-muted text-center text-capitalize mt-3 mb-5">{{'create new service' | translate}}</h3>

<form #form="ngForm" autocomplete="off" style="width: 80%;margin: 0 auto;" (submit)="addService()" enctype="multipart/form-data">
  <div class="form-group">
    <input type="text" class="form-control mb-4" [(ngModel)]="formData.name" #name="ngModel" name="name" placeholder="{{'Name (EN)' | translate}}" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="formData.arb_name" #arb_name="ngModel" name="arb_name" placeholder="{{'Name (AR)' | translate}}" required>
  </div>
  <div class="form-group">
    <input type="file" class="form-control" (change)="uploadFile($event)" [(ngModel)]="formData.image" #image="ngModel" name="image" required>
  </div>

  <input type="submit" class="btn btn-primary mt-3 mb-5" value="{{'Create' | translate}}">
</form>
