<div class="lds-default" *ngIf="showOrHide"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<h3 class="text-center text-muted text-capitalize mt-3 mb-2">{{'Most Top View' | translate}}</h3>

  <div class="row">
    <div class="col-md-4 mt-4" *ngFor="let item of allTopViews" >
      <div class="service-info mt-5 mb-4">
        <div class="card" style="width: 18rem;" style="margin: 0 auto;">
          <div id="carouselExampleInterval_{{ item.ad._id }}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="10000">
                <img src="https://api.mmbuae.com/images/{{ item.ad.images[0] }}" height="300" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item" data-interval="10000" *ngFor="let imgDetails of item.ad.images">
                <img src="https://api.mmbuae.com/images/{{ imgDetails }}" height="300" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval_{{ item.ad._id }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval_{{ item.ad._id }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ item.ad.title }}</h5>
            <p class="card-text">
              <span class="text-muted">{{'Street Adress' | translate}} : <span class="font-weight-bold">{{ item.ad.streetAdress }}</span></span><br>
              <span class="text-muted">{{'City' | translate}} :  <span class="font-weight-bold">{{ item.ad.city }}</span></span><br>
              <span class="text-muted">{{'Price' | translate}} :  <span class="font-weight-bold">{{ item.ad.price }}</span></span><br>
            </p>
            <div class="col mb-3">
              <a class="btn btn-primary" routerLink="/market/ads/ads-details/{{ item.ad._id }}">{{'More Details' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
